*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --text-size: calc(1vw + 1vh);
    --text-color: #fff;
    --background1: #000;
    --background2: #111;
    --background3: #222;
    --background4: #181818;
    --background5: #f90;
    --placeholder-color:#555;
    --placeholder-color2:#777;
    --transparent:transparent;
}
body{
    background-color: var(--background1);
    transition: 0.3s;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    background-color: var(--background3);
    width: 1vw;
}
::-webkit-scrollbar-thumb{
    background-color: var(--placeholder-color2);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--placeholder-color);
}
*{
    color: var(--text-color);
}
.wrapper {
    width: 100%;
}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.lorem{
    margin: auto;
    text-align: center;
    font-size: 34px;
    width: 50%;
}
h1{
    font-size: calc(var(--text-size) * 2);
}
h2{
    font-size: calc(var(--text-size) * 1);
}

@media (max-width: 480px) {
    :root{
        --text-size: calc(0.7vw + 0.7vh);
    }
}